* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

/*barra de busqueda*/
.searchBar {
  display: flex;
  border: 1px solid rgb(210, 210, 210);
  width: 70%;
  min-width: 4rem;
  background-color: #ffffff;
  padding: 0.25rem 0.89rem 0.25rem 0.89rem;
  text-align: left;
  font-size: 1rem;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
}

/*seccion de navegación header*/
.navHead {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navIcon {
  padding: 0% 7%;
  border-right: 1.9px solid rgb(122, 122, 122);
  transition: all 300ms;
}

.navImage {
  transition: all 300ms;
}

.navImage:hover {
  transform: scale(115%);
}

button:not(:disabled) {
  cursor: pointer;
}

/*icono de sesión*/
.contentSession {
  padding: 2% 4%;
  border: 0;
  border-radius: 0.5rem;
  transition: all 300ms;
  margin-left: 2rem;
  color: black;
}

.contentSession:hover {
  transform: scale(105%);
  background: rgb(0, 142, 127);
  background: linear-gradient(
    90deg,
    rgba(0, 142, 127, 1) 0%,
    rgba(0, 102, 78, 1) 100%
  );
  color: #ffffff;
  box-shadow: 0.5px 0.2px 15px rgb(167, 167, 167);
}

.sessionIcon {
  color: black;
  transition: all 300ms;
  padding: 15% 4%;
}

.sessionIcon:hover {
  transform: scale(105%);
  color: #ffffff;
}

/*banner*/
.banner {
  width: 70%;
  height: 40vh;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  background: rgb(0, 142, 127);
  background: linear-gradient(
    45deg,
    rgba(0, 142, 127, 0.577468487394958) 0%,
    rgba(0, 102, 78, 0.7455357142857143) 100%
  );
  color: #ffffff;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh auto 10vh;
  border-radius: 3rem;
}

/*main*/
.principal {
  width: 85%;
  margin: 0px auto;
  display: flex;
  position: relative;
  top: 3rem;
  flex-direction: column;
}

.contentSurg {
  margin: 0px auto;
  font-size: 2rem;
}

/*sección1*/
.seccion1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: space-between;
}

.sc1 {
  font-size: 1.5rem;
  margin-top: 4rem;
}

/*articulos*/
.contentProd {
  width: 16rem;
  height: 20rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 300ms;
  color: black;
  margin: 0 0.5rem 2.5rem 0.4rem;
}

.contentProd:hover {
  transform: scale(105%);
  box-shadow: 1px 0.6px 15px rgb(216, 216, 216);
}

article:not(:disabled) {
  cursor: pointer;
}

.imagenProd {
  width: 100%;
  height: 20rem;
  background: rgb(0, 142, 127);
  background: linear-gradient(
    90deg,
    rgba(0, 142, 127, 1) 0%,
    rgba(0, 102, 78, 1) 100%
  );
  color: #ffffff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}

.infoProd {
  width: 90%;
  margin: 1.5rem auto;
  border-top: 1px solid;
  padding-top: 1rem;
}

.precioProd {
  font-size: 1.5rem;
}

/*footer*/
footer {
  background-color: rgb(58, 57, 57);
  width: 100%;
  height: 15vh;
  display: flex;
  position: absolute;
  margin-top: 15%;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
}

.integrantes {
  list-style: none;
}

@media screen and (min-width: 891px) {
  /*header*/
  .cabecera {
    width: 100%;
    height: 8vh;
    background-color: rgb(202, 202, 202);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    top: 0px;
  }

  /*división header*/
  .contentNav1 {
    width: 50%;
    min-width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .contentNav2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  /*logotipo*/
  .logo {
    margin-right: 3rem;
    position: relative;
    left: -6%;
  }

  .isotipo {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  /*header*/
  .cabecera {
    height: 18vh;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(202, 202, 202);
  }

  /*división header*/
  .contentNav1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .contentNav2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  /*logotipo*/
  .logo {
    position: relative;
  }

  .logotipo {
    display: none !important;
  }

  /*icono de sesión*/
  .contentSession {
    padding: 10% 20%;
    border: 0;
    border-radius: 0.5rem;
    transition: all 300ms;
    position: relative;
    right: 50%;
  }

  .contentSession {
    padding: 2% 4%;
    border: 0;
    border-radius: 0.5rem;
    transition: all 300ms;
    margin-left: 2rem;
    color: black;
    position: relative;
    right: 1rem;
  }

  .banner {
    width: 90%;
    height: 20vh;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    background-color: aliceblue;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto 0vh;
    border-radius: 2rem;
  }

  .contentProd {
    width: 16rem;
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    transition: all 300ms;
    color: black;
    margin: 0 0.5rem 1.8rem 0.4rem;
  }

  /*footer*/
  footer {
    justify-content: space-around;
    font-size: 0.5rem;
  }
}

/* modal */
#campo {
  margin: 20vh auto;
  width: 20rem;
}

legend {
  top: 2.5rem;
}

input {
  margin: 0 auto;
  width: 100%;
}

input[type="submit"]:hover {
  transform: scale(105%);
}

button {
  margin: 0 32%;
  top: 1rem;
}

.contenedor_modal {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

#modal {
  margin: 0 auto;
  height: 70vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 142, 127, 1) 0%,
    rgba(0, 102, 78, 1) 100%
  );
}

.info{
  margin-top: 20vh;
}

/* carrito */

.formulario{
  width: 90%;
}

.datos{
  width: 70%;
  margin: 0 auto;
}

.btnAgregar{
  width: 18%;
}


